#tsparticles {
    height: 935px;
    width: 1920px;
    z-index: -2;
    position: relative;
}

.moving-background {
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(transparent, black);
    width: 1920px;
}

.over-background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1920px;
    height: 935px;
    overflow: hidden;
    z-index: 1;
}

.text-over-bg {
    width: 100%;
    font-size: 20px;
    font-family: 'Rubik';
    color: white;
    z-index: 1;
    position: relative;
    float: left;
}

body {
    margin: 0;
}

.header-container {
    height: 153.22px;

    .left-trapezoid {
        width: 1200px;
        height: 150px;
        background-color: #9d535986;
        transform: perspective(9px) rotateX(1deg);
        rotate: 180deg;
        translate: -90px 0; 
    }

    .nav-bar {
        width: 1200px;
        height: 75px;
        background-color: rgba(197, 90, 99, 0.468);
        translate: 390px -150px; 
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(197, 90, 99, 0.468), rgba(197, 90, 99, 0.468), rgba(0, 0, 0, 0));
        z-index: 5;
        position: relative;

    }

    .nav-bar-underline {
        width: 1200px;
        height: 1px;
        translate: 390px -150px;
        background: linear-gradient(to right, #c5c29fc1, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #C5c29Fc1);
        z-index: 5;
        position: relative;
    }

    .right-trapezoid {
        width: 700px;
        height: 150px;
        background: #9d5359;
        transform: perspective(5px) rotateX(1deg);
        rotate: 180deg;
        translate: 1400px -200px; 
    }
}


// .self-portrait {
//     height: 810px;
//     float: right;
//     margin: -570px 430px 0 0;
// }

.over-background {
    img {
        height: 810px;
        position: relative;
        inset: 0;
    }
}

.text-over-bg {
    margin-left: 24%;
    margin-right: -150px;
    margin-top: 150px;
    width: 35%;
    clear: both;

    > * {
        margin: 50px 0 0 20px;
    }

    // h1 {
    //     margin-right: -25px;
    //     color: #0E1925;
    // }


    h1 > span {
        text-decoration: none;
        color: #18272F;
        font-weight: 700;
        position: relative;
      
      
      &::before {
        content: '';
        background-color: rgba(197, 90, 99, 0.468);
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 18px;
        z-index: -3;
        transition: all .3s ease-in-out;
      }
      
      &:hover::before {
        bottom: 0;
        height: 100%;
      }
    }

}
    



