@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans_18pt-Black.ttf") format("truetype");
}
#root, .App {
  width: 1920px;
  height: 1vh;
}

#tsparticles {
  height: 985px;
  width: 1920px;
  z-index: -2;
  position: relative;
}

.moving-background {
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.411), rgba(28, 82, 33, 0.184), rgba(255, 255, 255, 0.884));
  width: 1920px;
}

body {
  margin: 0;
}

#loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #3498db;
}

.hidden {
  display: none;
}

.header-container {
  height: 153.22px;
  translate: 0 -49.6px;
}
.header-container .left-trapezoid {
  width: 1300px;
  height: 150px;
  background-color: rgba(157, 83, 89, 0.5254901961);
  transform: perspective(9px) rotateX(1deg);
  rotate: 180deg;
  translate: -90px 0;
}
.header-container .nav-bar {
  width: 1200px;
  height: 75px;
  translate: 390px -150px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(197, 90, 99, 0.468), rgba(197, 90, 99, 0.468), rgba(157, 83, 89, 0.5254901961));
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 20px;
}
.header-container .nav-bar > * {
  display: inline;
  text-decoration: none;
  color: #0E1527;
  padding: 26px 120px;
}
.header-container .nav-bar-underline {
  width: 1200px;
  height: 1.5px;
  translate: 390px -150px;
  background: linear-gradient(to right, #0E1527, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #0E1527);
  z-index: 5;
  position: relative;
}
.header-container .right-trapezoid {
  width: 700px;
  height: 150px;
  background: #9d5359;
  transform: perspective(5px) rotateX(1deg);
  rotate: 180deg;
  translate: 1600px -200px;
}

.over-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1920px;
  height: 985px;
  overflow: hidden;
  z-index: 1;
  display: block;
}
.over-background img {
  height: 860px;
  position: relative;
  bottom: 74px;
  left: 300px;
  animation: slideIn 1s ease-in-out; /* Using the animation property */
}
@keyframes slideIn {
  0% {
    transform: translateY(30%); /* Start off-screen at the bottom */
  }
  100% {
    transform: translateY(0); /* Slide in to the normal position */
  }
}

.text-over-bg {
  top: 225px;
  left: 330px;
  font-size: 30px;
  color: #0E1527;
  z-index: 1;
  position: relative;
  float: left;
}
.text-over-bg h2 {
  position: relative;
  width: 800px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 60px;
  color: white;
  pointer-events: none;
}
.text-over-bg p {
  font-family: "Unbounded";
  bottom: 30px;
  font-size: 25px;
  position: relative;
  width: 500px;
  margin-top: 0;
  color: black;
  pointer-events: none;
}
.text-over-bg .scroll-arrow {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 70px;
  left: 300px;
  top: 50px;
  border-bottom: 8px solid rgba(255, 255, 255, 0.611);
  border-right: 8px solid rgba(255, 255, 255, 0.611);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: rgba(0, 0, 0, 0);
  inherits: false;
}
a {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--myColor1), var(--myColor1), rgba(0, 0, 0, 0));
  transition: --myColor1 1s;
}
a:hover {
  --myColor1: rgba(255, 255, 255, 0.558);
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
.second-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, #081020, #0F1426, #0F1426, #081020);
  display: block;
  z-index: -2;
  position: relative;
  top: 985px;
}

.website-name {
  font-family: "Unbounded";
  z-index: 2;
  position: relative;
  font-size: 40px;
  width: 300px;
  margin: 0;
  top: 40px;
  left: 30px;
  pointer-events: none;
}

.front-part-hexagon-container {
  transform: rotate(90deg);
}
.front-part-hexagon-container > * {
  width: 140px;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
}
.front-part-hexagon-container .hexagon-top {
  border-bottom-style: solid;
  border-bottom-width: 121px;
}
.front-part-hexagon-container .hexagon-bottom {
  border-top-style: solid;
  border-top-width: 121px;
}

.background-hexagon-container {
  transform: rotate(90deg);
}
.background-hexagon-container > * {
  width: 180px; /* Adjust the width to twice the size of the border */
  border-left: 90px solid transparent; /* Adjust the border values */
  border-right: 90px solid transparent;
}
.background-hexagon-container .hexagon-top-bg {
  border-bottom-style: solid;
  border-bottom-width: 156px;
}
.background-hexagon-container .hexagon-bottom-bg {
  border-top-style: solid;
  border-top-width: 156px;
}

.hexagon-bottom, .hexagon-bottom-bg, .hexagon-bottom-bp {
  transform: translateY(-0.25px);
}

.hexagon-top, .hexagon-bottom-top, .hexagon-bottom-top {
  transform: translateY(0.25px);
}

.border-part-hexagon-container {
  transform: rotate(90deg);
}
.border-part-hexagon-container > * {
  width: 200px; /* Adjust the width to twice the size of the border */
  border-left: 100px solid transparent; /* Adjust the border values */
  border-right: 100px solid transparent;
}
.border-part-hexagon-container .hexagon-top-bp {
  border-bottom-style: solid;
  border-bottom-width: 173px;
}
.border-part-hexagon-container .hexagon-bottom-bp {
  border-top-style: solid;
  border-top-width: 173px;
}

.hexagon-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  height: 460px;
}
.hexagon-container .hexagon .border-part-hexagon-container {
  position: relative;
  top: 80px;
}
.hexagon-container .hexagon .background-hexagon-container {
  position: relative;
  bottom: 220px;
}
.hexagon-container .hexagon .front-part-hexagon-container {
  position: relative;
  bottom: 455px;
  z-index: 3;
}
.hexagon-container .hexagon > * {
  margin: 0;
}

.hexagon-gradient-back {
  width: 1266px;
  height: 405px;
  position: relative;
  top: -410px;
  left: 327px;
  background-image: linear-gradient(to top, rgba(14, 20, 37, 0.403), rgba(0, 0, 0, 0));
  z-index: 2;
}

.hexagon-gradient-front {
  width: 1266px;
  height: 405px;
  position: relative;
  top: -815px;
  left: 327px;
  background-image: linear-gradient(to top, rgba(14, 20, 37, 0.401), rgba(0, 0, 0, 0));
  z-index: 4;
}

.hexagon-images {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1110px;
  z-index: 5;
  gap: 335px;
}
.hexagon-images img:nth-child(1) {
  width: 135px;
  height: 135px;
  position: relative;
  top: 35px;
  right: 5px;
  transition: transform 1s ease;
}
.hexagon-images img:nth-child(1):hover {
  transform: scale(1.2);
}
.hexagon-images img:nth-child(2) {
  width: 120px;
  height: 120px;
  position: relative;
  top: 40px;
  right: 8px;
  transition: transform 1s ease;
}
.hexagon-images img:nth-child(2):hover {
  transform: scale(1.2);
}
.hexagon-images img:nth-child(3) {
  width: 115px;
  height: 115px;
  position: relative;
  top: 45px;
  right: 5px;
  transition: transform 1s ease;
}
.hexagon-images img:nth-child(3):hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
